[credential]
	helper = store
[user]
	name = Charlie
	email = charlie@charlie-nas.local
[core]
	excludesfile = /home/charlie/.gitignore_global
	hooksPath = /home/charlie/.config/git/hooks
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/var/home/charlie/.local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/var/home/charlie/.local/bin/gh auth git-credential
