[Desktop Entry]
Name=卸载微信
Exec=env "WINEPREFIX=/mnt/ai/data/wine-wechat" wine "C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start Menu\\\\Programs\\\\微信\\\\卸载微信.lnk"
Type=Application
StartupNotify=true
Path=/mnt/ai/data/wine-wechat/drive_c/Program Files/Tencent/WeChat
Icon=B55E_Uninstall.0
StartupWMClass=uninstall.exe
