[Unit]
Description=Voxtype Voice Input Daemon
After=graphical-session.target

[Service]
Type=simple
Environment="YDOTOOL_SOCKET=/run/user/1000/.ydotool_socket"
ExecStart=/run/current-system/sw/bin/voxtype -v daemon
Restart=on-failure
StartLimitAction=none
StartLimitBurst=5
StartLimitIntervalSec=30
RestartSec=10

[Install]
WantedBy=default.target

