[Unit]
Description=配置/服务文件变更事件记录器
After=default.target

OnFailure=sentinel-onfailure@change-watcher.service
StartLimitAction=none
StartLimitBurst=5
StartLimitIntervalSec=30
[Service]
Type=simple
ExecStart=%h/bin/change-watcher
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

