[Unit]
Description=Test cliphist
[Service]
Type=oneshot
ExecStart=/tmp/test-cliphist.sh
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/run/user/1000
