[Unit]
Description=Docker Container Health Nurse
After=network-online.target

[Service]
Type=oneshot
ExecStart=/run/current-system/sw/bin/bash /home/charlie/.local/bin/docker-health-nurse.sh
