[Unit]
Description=Docker Container Health Nurse Timer (every 30 min)

[Timer]
OnBootSec=3min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
