[Unit]
Description=Headless Browser API Server
After=network.target

OnFailure=sentinel-onfailure@headless-browser.service
StartLimitAction=none
StartLimitBurst=5
StartLimitIntervalSec=30
[Service]
Type=simple
ExecStart=/run/current-system/sw/bin/node /home/charlie/launcher/headless-browser-server.js
WorkingDirectory=/home/charlie/launcher
Restart=on-failure
RestartSec=10
Environment=NODE_PATH=/mnt/ai/cache/node-modules/home-node_modules

[Install]
WantedBy=default.target

