[Unit]
Description=KDE Remote Framebuffer VNC Server
After=graphical-session.target plasma-plasmashell.service

[Service]
Type=simple
ExecStart=/run/current-system/sw/bin/krfb
Restart=on-failure
RestartSec=5
Environment=WAYLAND_DISPLAY=wayland-0
Environment=XDG_RUNTIME_DIR=/run/user/1000

[Install]
WantedBy=graphical-session.target
