[Unit]
Description=noVNC Web Desktop Viewer
After=krfb-autostart.service
Requires=krfb-autostart.service

OnFailure=sentinel-onfailure@novnc-desktop.service
StartLimitAction=none
StartLimitBurst=5
StartLimitIntervalSec=30
[Service]
Type=simple
ExecStartPre=/run/current-system/sw/bin/sleep 3
ExecStart=/home/charlie/.nix-profile/bin/novnc --listen 6080 --vnc localhost:5900
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical-session.target

