[Unit]
StartLimitBurst=3
StartLimitIntervalSec=120
Description=Phone Clipboard Sync (ADB over FRP)
After=network.target

[Service]
Type=simple
ExecStart=/home/charlie/.local/bin/phone-clip-sync
OnFailure=sentinel-onfailure@phone-clip-sync.service
Restart=on-failure
StartLimitBurst=3
StartLimitIntervalSec=60
StartLimitAction=none
RestartSec=10
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/run/user/1000

[Install]
WantedBy=default.target

