[Unit]
Description=Recoll idle-index update service (user)

[Service]
Type=oneshot
ExecStart=/run/current-system/sw/bin/bash -lc '/home/charlie/.recoll/idle_index_run.sh'
