[Unit]
Description=Telegram Desktop
After=graphical-session.target network.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=/nix/store/axgks718p3s1pff1bhggz4y5p09pbcb2-telegram-desktop-6.6.2/bin/Telegram
OnFailure=sentinel-onfailure@telegram-desktop.service
Restart=on-failure
StartLimitAction=none
StartLimitBurst=5
StartLimitIntervalSec=30
RestartSec=10
Environment=DISPLAY=:0
Environment=QT_QPA_PLATFORM=xcb
Environment=XDG_RUNTIME_DIR=/run/user/%U

[Install]
WantedBy=graphical-session.target
