[Unit]
Description=Telegram Desktop
After=graphical-session.target network.target
Wants=graphical-session.target

OnFailure=sentinel-onfailure@telegram-desktop.service
StartLimitAction=none
StartLimitBurst=2
StartLimitIntervalSec=1800
[Service]
Type=simple
ExecStart=/nix/store/axgks718p3s1pff1bhggz4y5p09pbcb2-telegram-desktop-6.6.2/bin/Telegram
Restart=no
Environment=DISPLAY=:0
Environment=QT_QPA_PLATFORM=wayland;xcb
Environment=XDG_RUNTIME_DIR=/run/user/%U

[Install]
WantedBy=graphical-session.target
