[Unit]
Description=Waybar status bar for Hyprland
After=graphical-session.target

OnFailure=sentinel-onfailure@waybar.service
[Service]
Type=simple
ExecStart=/run/current-system/sw/bin/waybar
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
