[Unit]
Description=ydotool daemon
Documentation=https://github.com/ReimuNotMoe/ydotool

[Service]
Type=simple
Restart=always
StartLimitAction=none
StartLimitBurst=5
StartLimitIntervalSec=30
ExecStart=/run/current-system/sw/bin/ydotoold

[Install]
WantedBy=default.target

