[Desktop Entry]
Name=清理通知
Comment=一键清空所有系统通知
Exec=/home/charlie/.local/bin/clear-notifs
Icon=edit-clear-all
Terminal=false
Type=Application
Categories=Utility;