[Desktop Entry]
Type=Application
Name=System Settings
Exec=systemsettings
Icon=preferences-system
Categories=Qt;KDE;Settings;
Keywords=systemsettings;System Settings;settings;shezhi
NoDisplay=false
