[Unit]
Description=Podman Docker API service
After=network-online.target podman.socket
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/podman system service --time=0 tcp://127.0.0.1:3678
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
