[Unit]
Description=Smart service pre-suspend manager
Before=shutdown.target
PartOf=graphical-session.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
ExecStart=%h/.local/bin/smart-service-manager.py pre-suspend

[Install]
WantedBy=default.target
