[Unit]
Description=Incrementally sync WeChat exported messages to Matrix
After=matrix-synapse.service

[Service]
Type=oneshot
ExecStart=/var/home/charlie/.local/bin/wechat-matrix-sync-export --pull-phone --user @wechat_import:100.120.189.27 --room !gkLEhwUaLlMRAjQFKR:100.120.189.27 --limit 50 --delay 0.8
Nice=10
